* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
}

.background {
  background-image: linear-gradient(to bottom, #615dad, #ffc8da);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-attachment: fixed;
}

.container {
  max-width: 80vmin;
  width: 100%;
  height: 100%;
  color: white;
}

.container__h1 {
  font-family: Lobster;
  text-align: center;
  font-size: 44px;
  font-weight: 400;
  padding: 10px;
}

.container__menu {
  display: flex;
  justify-content: space-between;
}

.menu__who {
  display: flex;
  align-items: center;
  font-weight: 600;
  margin: 10px 0;
  gap: 5px;
}

.menu__buttons {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}

.button_home,
.button_restart {
  height: 36px;
  width: 36px;
  cursor: pointer;
  text-decoration: none;
  background-color: #1fcca4;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button_home:hover {
  background-color: #1cbb96;
}

.button_restart {
  background-color: #0197f6;
}

.button_restart:hover {
  background-color: #0090e9;
}

.container__playground {
  display: flex;
  flex-wrap: wrap;
  border: 0.5px solid rgb(16, 22, 93);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.square {
  width: calc(100% / 10);
  aspect-ratio: 1 / 1;
  border: 0.5px solid rgb(11, 16, 73);
  background-color: #f7dce54e;
}

.square:hover {
  filter: brightness(80%); 
  cursor: pointer;
}

.square:focus {
  background-color: rgb(211, 109, 217);
}
